/*****************************************************************************/
/* Loading: Style */
/*****************************************************************************/
.loading {
}
.loadingModal {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}
