.paginate_button {
    padding: 0 5px !important;
    margin: 0 5px !important;
    min-width: 10px !important;
}

.note-group-select-from-files, .note-style, .note-table, .note-view, button[data-original-title="Video"] {
    display: none !important;
}
