/*----------------------------------------------------------------
=======================* nav & content Start *====================
------------------------------------------------------------------*/

 .form-alert {
   border: 1px solid #FF0000 !important;
 }

 #mainnav-container.nav-collapse {
   width: 44px;
 }

 .navbar-brand.nav-collapse {
   width: 44px;
 }

 .navbar-content.nav-content-collapse {
   margin-left: 44px;
 }

 .content-container.nav-content-collapse {
   margin-left: 44px;
 }

 #footer.nav-content-collapse {
   margin-left: 44px;
 }

 .menu-collapse .nav-title-collapse {
   display: none;
 }

 .fa.nav-icon-collapse {
   display: initial;
 }

 /*----------------------------------------------------------------
=======================* nav & content End *====================
------------------------------------------------------------------*/

 /*---------------------------------------------------------------
=======================* LayoutHeader Start *====================
---------------------------------------------------------------*/

 .navbar-content {
   background: rgba(0, 0, 0, 0.35);
 }

 #navbar {
   position: absolute;
   width: 100%;
   z-index: 10;
   background: rgba(0, 0, 0, 0.5);
 }

 #navbar .lw-brand {
   padding-left: 46px;
   position: relative;
   bottom: 4px;
 }

 .navbar-brand {
   background-color: transparent;
   color: #fff;
   height: 40px;
   position: relative;
   z-index: 2;
   overflow: hidden;
   width: 220px;
 }

 .navbar-brand:hover, .navbar-brand:focus {
   color: #fff;
 }

 #container.mainnav-sm #mainnav-container, #container.mainnav-sm #navbar .navbar-brand {
   width: 50px;
   left: 0;
 }

 .navbar-top-links>li {
   float: left;
   border-left: 1px solid rgba(255, 255, 255, 0.05);
 }

 .navbar-top-links>li>a {
   display: table-cell;
   padding: 0 12px;
   vertical-align: middle;
   height: 40px;
   transition: all .4s;
   color: #fff;
 }

 .navbar-top-links>.open>a, .navbar-top-links>.open>a:focus {
   background-color: rgba(0, 0, 0, 0.5);
   color: #fff;
 }

 .navbar-top-links>li>a:hover {
   background-color: rgba(0, 0, 0, 0.5);
   color: #f7f7f7;
 }

 .navbar-top-links .head-list {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 .navbar-top-links .head-list li a {
   display: block;
   padding: 10px 15px;
   background: transparent;
 }

 .navbar-top-links .head-list li a:hover {
   background: rgba(0, 0, 0, 0.05);
   color: #758697;
 }

 .system-title-1 {
   font-size: 12px;
   margin: 0px;
 }

 .system-title-2 {
   font-size: 10px;
   margin: 0px;
 }

 .img-user {
   width: 32px;
   height: 32px;
   box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
   border-radius: 50%;
 }

 .username {
   float: right;
   white-space: nowrap;
   line-height: 40px;
   margin: 0 10px;
 }

 .dropdown-closeicon::after {
   content: initial !important;
 }

 .brand-text {
   height: 36px;
   width: 160px;
 }

 .brand-text {
   font-size: 25px;
   display: block;
   position: relative;
   line-height: 1;
 }

 .dropdown-menu {
   margin: 0px 0 0 !important;
 }

 .position-tag {
   float: right;
   position: relative;
   top: 7px;
 }

 /*---------------------------------------------------------------
=======================* LayoutHeader End *======================
---------------------------------------------------------------*/

 /*----------------------------------------------------------------
=======================* sidemenu Start *=========================
------------------------------------------------------------------*/

 #lw-mainnav-menu i {
   position: relative;
   top: 1px;
 }

 #lw-mainnav-menu a {
   display: block;
   color: #abb1b7;
   padding: 10px 15px;
 }

 #lw-mainnav-menu>li>a:hover, #lw-mainnav-menu>li>a:active {
   color: #fff;
 }

 #lw-mainnav-menu>li>a.hover {
   color: #fff;
   background-color: #2c3a41;
   box-shadow: inset 2px 0 0 0 #0c80df
 }

 #lw-mainnav-menu>.active-link>a, #lw-mainnav-menu>.active-link>a:hover {
   color: #fff;
   font-weight: 600;
 }

 #lw-mainnav-menu>.active-sub>a, #lw-mainnav-menu>.active-sub>a:hover {
   color: #fff;
   font-weight: 600;
 }

 #lw-mainnav-menu>.active {
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   background-color: #202a2f;
 }

 #lw-mainnav-menu>.active .active {
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   background-color: #1c2429;
 }

 #lw-mainnav-menu ul .list-header {
   padding: 10px 20px 12px 55px;
 }

 #lw-mainnav-menu ul ul a {
   padding: 10px 20px 12px 65px;
 }

 #lw-mainnav-menu i {
   padding: 0 10px 0 0;
   font-size: 1.15em;
   width: 25px;
 }

 #lw-mainnav-menu .hide-lg {
   display: none;
 }

 #lw-mainnav-menu ul a, .menu-popover .sub-menu ul a {
   padding: 5px 5px 5px 55px;
   font-size: 12px;
 }

 #lw-mainnav-menu ul a:hover, .menu-popover .sub-menu ul a:hover {
   color: #fff;
 }

 #lw-mainnav-menu ul ul a:hover, .menu-popover .sub-menu ul ul a:hover {
   color: #fff;
 }

 #lw-mainnav-menu ul .active-link a, .menu-popover .sub-menu ul .active-link a {
   font-weight: 600;
   color: #fff;
   box-shadow: inset 2px 0 0 0 #0c80df;
 }

 #container.mainnav-sm #lw-mainnav-menu>.active-link>a, #container.mainnav-sm #lw-mainnav-menu>.active-sub>a, #container.mainnav-sm #lw-mainnav-menu>.active-link a:hover, #container.mainnav-sm #lw-mainnav-menu>.active-sub a:hover {
   background-color: #0c80df;
   box-shadow: none;
 }

 #lw-mainnav-menu ul, .mainnav-widget ul, .menu-popover ul {
   list-style: none;
   padding-left: 0;
 }

 #mainnav {
   height: 100%;
   /* background: rgba(0, 0, 0, 0.5); */
   background-image: url(/image/bg/blue.jpg);
 }

 #mainnav .list-header {
   font-weight: 600;
   color: #747e88;
 }

 #mainnav .list-divider {
   border-color: rgba(0, 0, 0, 0.1);
   margin: 10px 0;
 }

 #mainnav .mainnav-profile .list-group {
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   background-color: #202a2f;
   margin: 0;
 }

 #mainnav .mainnav-profile .list-group-item {
   color: #abb1b7;
   padding: 12px 20px;
 }

 #mainnav .mainnav-profile .list-group-item:hover {
   color: #fff;
   background-color: transparent;
 }

 #mainnav li .arrow {
   float: right;
   line-height: 1.42857;
   top: -3px;
   position: relative;
   right: -10px;
 }

 #mainnav li .arrow:before {
   content: '';
   border-style: solid;
   border-width: .1em .1em 0 0;
   display: inline-block;
   height: .4em;
   left: 0;
   position: relative;
   top: 0;
   width: .4em;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
 }

 #mainnav li.active>a>.arrow:before {
   -webkit-transform: rotate(135deg);
   -ms-transform: rotate(135deg);
   transform: rotate(135deg);
 }

 #container.mainnav-fixed #mainnav {
   height: 100%;
   height: 100vh;
 }

 #mainnav-menu-wrap {
   height: 100%;
 }

 #container.mainnav-in #mainnav-menu-wrap {
   height: 100%;
 }

 #mainnav-container {
   position: absolute;
   width: 220px;
   left: 0;
   padding-top: 40px;
   top: 0;
   bottom: 0;
   z-index: 4;
   min-height: 100%;
 }

 a:link, a:hover {
   text-decoration: none !important;
 }

 .menu-title {
   font-weight: normal !important;
   margin-left: 5px;
   font-size: 13px;
 }

 .lw-box-menu {
   position: relative;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background-size: contain;
   background-repeat: no-repeat;
   font-size: 14px;
 }

 .lw-box-menu>.lw-box-menu-content {
   position: absolute;
   overflow: scroll;
   overflow-x: hidden;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
 }

 .lw-box-menu>.lw-box-menu-content::-webkit-scrollbar {
   display: none;
 }

 .lw-i-item {
   width: 0px !important;
 }

 /*--------------------------------------------------------------
=======================* sidemenu End *=========================
----------------------------------------------------------------*/

 /*--------------------------------------------------------------
=======================* footer Start *=========================
---------------------------------------------------------------*/

 #footer {
   border-top: 1px solid rgba(0, 0, 0, 0.07);
   background: #111;
   color: #FFFFFF;
   position: absolute;
   bottom: 0;
   z-index: 2;
   left: 0;
   right: 0;
   font-size: 14px;
   margin-left: 220px;
   padding: 5px;
 }

 #footer p {
   margin-bottom: 0px;
 }

 #container.footer-fixed #footer {
   left: 0;
   position: fixed;
   bottom: 0;
   margin-top: -35px;
   z-index: 1;
 }

 #footer .show-fixed {
   display: none;
 }

 #footer .hide-fixed {
   display: block;
   height: 100%;
 }

 .main-footer {
   font-size: 14px;
   margin-left: 220px;
   padding: 5px;
   color: #fff;
 }

 .pad-lft {
   padding-left: 15px;
 }

 .pad-rgt {
   padding-right: 15px;
 }

 /*---------------------------------------------------------------
=======================* footer End *=========================
---------------------------------------------------------------*/

 /*--------------------------------------------------------
=======================* badge Start *====================
----------------------------------------------------------*/

 .badge-danger {
   background-color: #ef5350;
 }

 .badge-header {
   position: absolute;
   margin-top: -1.4em;
   padding: 5px;
   border-radius: 50%;
   right: 9px;
 }

 /*------------------------------------------------------
=======================* badge End *====================
--------------------------------------------------------*/

 /*---------------------------------------------------------------
=======================* content Start *=========================
-----------------------------------------------------------------*/

 .content-container {
   padding: 5px;
   overflow: auto;
   overflow-x: hidden;
   height: calc(100vh - 125px);
   background-color: #ecf0f5;
 }

 .color-white {
   color: #ffffff;
 }

 .lw-card-transparent {
   background-color: rgba(0, 0, 0, 0.5) !important;
 }

 .page-container.nav-content-collapse {
   margin-left: 44px;
 }

 .page-container {
   height: calc(100vh - 32px);
   margin-left: 220px;
   padding-top: 40px;
 }

 .page-header {
   border: 0 none;
   font-size: 1.4em;
   font-weight: normal;
 }

 .lw-breadcrumb {
   float: right;
   background-color: transparent !important;
   font-size: 12px;
   position: absolute;
   top: 45px;
   right: 10px;
 }

 .lw-breadcrumb-item {
   color: #fff;
 }

 .lw-breadcrumb-item:hover, .lw-breadcrumb-item:focus {
   color: #ff9600;
 }

 /*===========================* box chart *============================*/

 .lw-box-chart {
   border-radius: 3px;
   background: #ffffff;
   margin-bottom: 20px;
   border-top: 3px solid #d2d6de;
 }

 .lw-box-chart-header.box-chart-border {
   border-bottom: 1px solid #f4f4f4;
 }

 .lw-box-chart-header {
   padding: 10px;
   position: relative;
 }

 .lw-box-chart-header .lw-box-chart-title {
   display: inline-block;
   font-size: 16px;
   margin: 0;
   line-height: 1;
 }

 .btn-box-tool {
   padding: 5px !important;
   font-size: 12px !important;
   background: transparent;
   color: #97a0b3;
 }

 .lw-box-chart-body {
   padding: 10px;
 }

 /*===========================* box1 info *============================*/

 .lw-info-box {
   border-radius: 2px;
   position: relative;
   display: block;
   margin-bottom: 20px;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
 }

 .lw-info-box>.inner {
   padding: 10px;
 }

 .lw-info-box>.lw-info-box-footer {
   position: relative;
   text-align: center;
   padding: 3px 0;
   color: #fff;
   color: rgba(255, 255, 255, 0.8);
   display: block;
   background: rgba(0, 0, 0, 0.1);
   text-decoration: none;
 }

 .lw-info-box>.lw-info-box-footer:hover {
   color: #fff;
   background: rgba(0, 0, 0, 0.15);
 }

 .lw-info-box h3 {
   font-size: 38px;
   font-weight: bold;
   margin: 0 0 10px 0;
   white-space: nowrap;
   padding: 0;
   color: #ffffff;
 }

 .lw-info-box p {
   font-size: 15px;
   color: #ffffff;
 }

 .lw-info-box p>small {
   display: block;
   color: #f9f9f9;
   font-size: 13px;
   margin-top: 5px;
 }

 .lw-info-box h3, .lw-info-box p {
   z-index: 5;
 }

 .lw-info-box .icon {
   -webkit-transition: all 0.3s linear;
   -o-transition: all 0.3s linear;
   transition: all 0.3s linear;
   position: absolute;
   top: -10px;
   right: 10px;
   z-index: 0;
   font-size: 90px;
   color: rgba(0, 0, 0, 0.15);
 }

 .lw-info-box:hover {
   text-decoration: none;
   color: #f9f9f9;
 }

 .lw-info-box:hover .icon {
   font-size: 95px;
 }

 /*===========================* box2 info *============================*/

 .lw-circle {
   margin-bottom: 15px;
   text-align: center;
 }

 .lw-circle-head {
   position: relative;
   width: 80px;
   height: 80px;
   margin: 0 auto -40px;
   border: 3px solid rgba(255, 255, 255, 0.3);
   border-radius: 100%;
   color: #fff;
   transition: all ease-in-out .3s;
 }

 .lw-circle-head .fa {
   line-height: 78px;
 }

 .lw-circle-content {
   padding-top: 50px;
   border-radius: 3px;
 }

 .lw-text-faded {
   color: rgba(255, 255, 255, 0.7);
 }

 .lw-circle-number {
   padding: 5px 0 15px;
   font-size: 26px;
   font-weight: 700;
   line-height: 1;
 }

 .lw-circle-footer {
   display: block;
   padding: 5px;
   color: rgba(255, 255, 255, 0.5);
   background-color: rgba(0, 0, 0, 0.1);
   transition: all ease-in-out .3s;
 }

 .lw-circle-footer:hover, .lw-circle-footer:active, .lw-circle-footer:focus {
   background: rgba(0, 0, 0, 0.32);
   color: rgba(255, 255, 255, 0.5) !important;
 }

 .lw-size-icon {
   font-size: 2.5rem;
 }

 .lw-tag {
   font-size: 0.6rem !important;
   position: relative;
   bottom: 5px;
 }

 /*===========================* box3 info *============================*/

 .lw-box3-icon {
   font-size: 1.5rem !important;
   color: #ffffff;
 }

 /*=======================* color box info *===========================*/

 .bg-blue {
   background-color: #00c0ef;
 }

 .bg-red {
   background-color: #b93835;
 }

 .bg-transparent {
   background-color: rgba(0, 0, 0, 0.5);
 }

 .bg-green {
   background-color: #00a65a;
 }

 .bg-orange {
   background-color: #f39c12;
 }

 .bg-dark-blue {
   background-color: #34495e;
 }

 .bg-purple {
   background-color: #8e44ad;
 }

 .bg-dark {
   background-color: #373a3c;
 }

 .bg-white {
   background-color: #ffffff;
 }

 /*=======================* color box border-top chart *===========================*/

 .lw-box-chart.bg-chart-primary {
   border-top-color: #3c8dbc;
 }

 .lw-box-chart.bg-chart-green {
   border-top-color: #00a65a;
 }

 .lw-box-chart.bg-chart-red {
   border-top-color: #d9534f;
 }

 .lw-box-chart.bg-chart-purple {
   border-top-color: #7E57A4;
 }

 /*table*/

 .posi-progress {
   position: relative;
   top: 8px;
 }

 .page-table {
   margin-bottom: -10px;
   margin-top: -10px;
 }

 .page-table-top {
   position: absolute;
   right: 25px;
   top: 0px;
 }

 .hidden-scroll-y {
   overflow-y: hidden;
 }

 /*table tabular*/

 .warpper-table .row {
   margin-right: 0px !important;
   margin-left: 0px !important;
 }

 .warpper-table .table {
   margin: 0px !important;
   border-bottom: 1px solid #eceeef;
 }

 .warpper-table thead tr {
   border-top: 1px solid #eceeef;
 }

 .warpper-table th, .warpper-table td {
   vertical-align: middle !important;
   padding: 8px 15px !important;
 }

 .warpper-table tbody tr:hover {
   background-color: #efefef;
   cursor: pointer;
 }

 .warpper-table td.hiddenRow {
   padding: 0px !important;
   border-top: 0px solid #eceeef !important;
 }

 .warpper-table td.hiddenRow .table {
   border-bottom: 0px solid #fff;
 }

 .warpper-table .table td {
   font-size: 14px;
   border-top: 1px solid #eceeef;
 }

 .warpper-table .reactive-table-navigation {
   padding: 0px 15px;
 }

 /*===================* table border *=====================*/

 .lw-table-border {
   border-radius: 3px;
   background: #ffffff;
   margin-bottom: 15px;
 }

 .lw-table-border-header.width-border {
   border-bottom: 1px solid #f4f4f4;
 }

 .lw-table-border-header {
   color: #000;
   padding: 10px;
 }

 .lw-table-border-header>.fa, .lw-table-border-header .lw-table-border-title {
   display: inline-block;
   font-size: 18px;
   margin: 0;
   line-height: 1;
 }

 .lw-table-border-body {
   padding: 10px;
 }

 .table-border th {
   border: 1px solid #373a3c !important;
 }

 table.table-bordered.dataTable {
   border-collapse: collapse !important;
 }

 div.dataTables_wrapper div.dataTables_processing {
   position: absolute;
   font-size: 1em;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #F00;
 }

 /*===================* table full width *=====================*/

 .lw-table-radias-bottom {
   border-radius: 0 0 3px 3px;
 }

 .lw-table-full-del-bottom {
   margin-bottom: 0 !important;
 }

 .lw-table-head {
   height: 60px;
   line-height: 38px;
 }

 .input-table-head {
   width: 30% !important;
   top: 11px;
 }

 /*chart*/

 .lw-pie-size {
   width: 500px;
   height: 300px;
 }

 .lw-bar-posi {
   position: relative;
   top: 55px;
 }

 /*.panel-body {
    display: none !important;
}
*/

 .start {
   display: none !important;
 }

 .done {
   display: none !important;
 }

 ._id {
   text-align: right;
 }

 /*---------------------------------------------------------------
=======================* content End *=========================
---------------------------------------------------------------*/

 #navbar {
   position: absolute;
   width: 100%;
   z-index: 10;
   background: #3f51b5;
 }

 .page-title {
   padding: 10px 15px;
   font-size: 22px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.15);
   color: #ffffff;
   background: #ff80ab;
   height: 53px;
 }

 .uploadPanel .form-control {
   height: 40px;
 }

 .value_upload {
   border: 1px solid #9e9e9e!important;
 }

.note-editor {
  margin-bottom: 0 !important;
}

 /* .note-editing-area {
   height: 300px;
 } */

 /*.img-upload {
    text-align: center;
    width: 100%;
    height: 200px;
    border: solid 1px #ddd;
    border-bottom: 0px;
    background-color: #ddd;
}*/

 .add-pad {
   padding: 5px !important;
 }

 .rem-pad {
   padding: 0px !important;
 }
